/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.4;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  margin: 0 7.5%;
}

a {
  font-family: "Raleway";
}

header ul li a {
  color: black;
}

/********** MOBIL **********/

/************** Del 1 grid **********/

.grid_del1 {
  display: grid;
  margin: 1rem;
}

.h1_forside,
.pic_forside {
  grid-column: 1;
  grid-row: 1;
}

.h1_forside {
  text-align: center;
  place-self: center;
  color: black;

  padding: 0.5rem;
  margin: 0.5rem;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  z-index: 10;
}

.pic_forside {
  opacity: 0.9;
}

/************* del 2 grid *****************/

.grid_del2 {
  display: grid;
  margin: 1rem;
}

.grid_1,
.knap1,
.farve1 {
  display: grid;
  grid-column: 1;
  grid-row: 1;
}

.knap1 {
  text-align: center;
  place-self: center;
}

.grid_del3 {
  display: grid;
  margin: 1rem;
}

.grid_2,
.knap2,
.farve2 {
  display: grid;
  grid-column: 1;
  grid-row: 1;
}

.knap2 {
  text-align: center;
  place-self: center;
}

/************** GRID DEL 4 **************/

.grid_del4 {
  display: grid;
  margin: 1rem;
}

.familie,
.grid_slut {
  display: grid;
  grid-column: 1;
  grid-row: 1;
}

.grid_slut {
  place-self: center;
  text-align: center;
}

/********** knap ***********/

.knap1,
.knap2,
.omos,
.kontakt {
  font-size: 2rem;

  padding: 1rem;
  margin: 1rem;
  border-radius: 0px;
  display: grid;
  border: 3px solid white;
}

a {
  color: white;
}

.knap1:hover,
.knap2:hover,
.omos:hover,
.kontakt:hover {
  background-color: white;
}

a:hover {
  color: black;
}

/*********** website ********/
@media (min-width: 800px) {
  nav {
    display: none;
  }

  header {
    justify-content: space-around;
  }

  .h1_forside {
    font-size: 2rem;
  }

  .grid_del2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .grid_del3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .grid_del4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 2rem;
  }

  .grid_2 {
    display: grid;
    grid-column: 2;
    margin-left: 0.5rem;
  }

  .grid_1 {
    display: grid;

    margin-right: 0.5rem;
  }

  .grid_slut {
    display: grid;
    place-self: center right;
    margin-right: 10rem;
  }

  .farve1 {
    display: grid;
    grid-column: 2;
    background-color: #eab486;
    margin-left: 0.5rem;
  }

  .farve2 {
    background-color: #dcdac4;
    margin-right: 0.5rem;
  }

  .knap1,
  .knap2,
  .omos,
  .kontakt {
    font-size: 2rem;
    padding: 0.5rem;
    margin: 1rem;
    text-decoration: none;
    border-radius: 0px;
    display: grid;
    border: 3px solid white;
  }

  .knap2 {
    background-color: #dcdac4;
  }
}
