/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.4;
  font-family: fjallaonne, sans-serif;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  margin: 0 1rem;
}

/********** MOBIL **********/

/************** Del 1 grid **********/

.grid_del1 {
  display: grid;
  margin: 1rem;
}

.h1_forside,
.pic_forside {
  grid-column: 1;
  grid-row: 1;
}

.h1_forside {
  text-align: center;
  place-self: center;
  color: wheat;
}

/************* del 2 grid *****************/

.grid_del2 {
  display: grid;
  margin: 1rem;
}

.grid_1,
.knap1,
.farve1 {
  display: grid;
  grid-column: 1;
  grid-row: 1;
}

.knap1 {
  text-align: center;
  place-self: center;
}

.grid_del3 {
  display: grid;
  margin: 1rem;
}

.grid_2,
.knap2,
.farve2 {
  display: grid;
  grid-column: 1;
  grid-row: 1;
}

.knap2 {
  text-align: center;
  place-self: center;
}

/************** GRID DEL 4 **************/

.grid_del4 {
  display: grid;
  margin: 1rem;
}

.familie,
.grid_slut {
  display: grid;
  grid-column: 1;
  grid-row: 1;
}

.grid_slut {
  place-self: center;
  text-align: center;
}

/********** knap ***********/

.knap1,
.knap2,
.omos,
.kontakt {
  background-color: blanchedalmond;
  font-size: 2rem;
  padding: 1rem;
  margin: 2rem;
  text-decoration: none;
  border-radius: 0px;
  display: grid;
  border: 3px solid white;

  color: white;
}

.knap:hover {
  color: crimson;
  background-color: blanchedalmond;
}

/*********** website ********/
@media (min-width: 800px) {
  nav {
    display: none;
  }

  header {
    justify-content: space-around;
  }

  .grid_del2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .grid_del3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .grid_del4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .grid_2 {
    display: grid;
    grid-column: 2;
    margin-left: 0.5rem;
  }

  .grid_1 {
    display: grid;

    margin-right: 0.5rem;
  }

  .grid_slut {
    display: grid;
    place-self: center right;
    margin-right: 10rem;
  }

  .farve1 {
    display: grid;
    grid-column: 2;
    background-color: #fcf6b1;
    margin-left: 0.5rem;
  }

  .farve2 {
    background-color: #fcf6b1;
    margin-right: 0.5rem;
  }

  .knap1,
  .knap2,
  .omos,
  .kontakt {
    background-color: #fcf6b1;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 1rem;
    text-decoration: none;
    border-radius: 0px;
    display: grid;
    border: 3px solid white;
  }

  .knap:hover {
    color: white;
    background-color: #fcf6b1;
  }
}
