/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.4;
  font-family: "Courier New", Courier, monospace;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  margin: 0 7.5%;
}

/*************** style *********************/

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 1rem;
}

p {
  margin: 1rem;
}

.col-1 {
  background-color: #dcdac4;
  margin: 1rem;
  padding: 1rem 0;
}

.col-2 {
  background-color: #f9bba3;
  margin: 1rem;
  padding: 1rem 0;
}

.col-3 {
  background-color: #eab486;
  margin: 1rem;
  padding: 1rem 0;
}

label,
input,
textarea,
select,
button {
  display: block;
}

.tider_layout {
  display: flex;
  justify-content: space-between;
}

.tider_layout2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.align {
  text-align: center;
}

.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  max-width: 300px;
}

.paddington_bjorn {
  padding-bottom: 1rem;
}

.farve {
  background-color: #dcdac4;
  font-size: 1rem;
  color: white;
  padding: 0.3rem;
}

.map-grid {
  display: grid;
  justify-content: center;
  margin-bottom: 2rem;
}

.grid-1 {
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .map-grid {
    width: fit-content;
  }
}

@media (min-width: 800px) {
  .grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .col-1 {
    background-color: #dcdac4;
    margin: 1rem;
  }

  .col-2 {
    background-color: #f9bba3;
    margin: 1rem;
  }

  .col-3 {
    background-color: #eab486;
    margin: 1rem;
  }
}
