/******* generalt********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 0 7.5%;
}
img {
  width: 100%;
  object-fit: cover;
  align-self: stretch;
}

.col_1 {
  background-color: #dcdac4;
  color: #ffffff;
  padding: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 4%;
  font-size: 2rem;
}

h2 {
  text-align: center;
  font-family: "Raleway";
}

/************* website ***********/
@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: 1rem 0;
  }

  h1 {
    font-size: 3rem;
  }
}
