/****************************************** MOBIL *****************************************/
@media (max-width: 500px) {
  /** Footer **/
  footer {
    background-color: #dcdac4;
  }

  .footer_layout {
    display: flex;
  }

  .mobilskjul {
    display: none;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 10%;
  }

  footer ul li {
    list-style-type: none;
  }

  footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
    color: white;
  }

  .fp1 {
    color: grey;
    font-size: 1.1rem;
    font-weight: bold;
  }

  .fp2 {
    font-weight: bold;
  }

  .fp3 {
    color: grey;
    padding: 0 0 1% 10%;
  }
}

/****************************************** TABLET *****************************************/
@media (min-width: 500px) and (max-width: 800px) {
  /** Header **/
  .header {
    position: sticky;
    top: 0;
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
    list-style: none;
  }

  .item {
    font-family: monospace;
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  .link {
    position: relative;
    color: black;
    text-decoration: none;
    padding: 5px 0;
  }

  .link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background: black;
    transition: all 250ms ease-in-out;
  }

  .link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background: black;
    transition: all 250ms ease-in-out;
  }

  .link:hover::before,
  .link:hover::after {
    width: 100%;
    left: 0;
  }

  /** Footer **/
  footer {
    background-color: #dcdac4;
  }

  .footer_layout {
    display: flex;
  }

  .mobilskjul {
    display: none;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10%;
  }

  footer ul li {
    list-style-type: none;
  }

  footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
    color: white;
  }

  .fp1 {
    color: grey;
    font-size: 1.1rem;
    font-weight: bold;
  }

  .fp2 {
    font-weight: bold;
  }

  .fp3 {
    color: grey;
    padding: 0 0 1% 10%;
  }
}

/****************************************** WEB *****************************************/
@media (min-width: 800px) {
  /** Header **/
  .header {
    position: sticky;
    top: 0;
    transition: all 0.2s ease-in-out;
    background-color: white;
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
    list-style: none;
  }

  .item {
    font-family: monospace;
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  .link {
    position: relative;
    color: black;
    text-decoration: none;
    padding: 5px 0;
  }

  .link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background: black;
    transition: all 250ms ease-in-out;
  }

  .link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background: black;
    transition: all 250ms ease-in-out;
  }

  .link:hover::before,
  .link:hover::after {
    width: 100%;
    left: 0;
  }

  /** Footer **/
  footer {
    background-color: #dcdac4;
  }

  .footer_layout {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
  }

  .webskjul {
    display: none;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
  }

  footer ul li {
    list-style-type: none;
  }

  footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
    color: white;
  }

  .fp1 {
    color: grey;
    font-size: 1.1rem;
    font-weight: bold;
  }

  .fp2 {
    font-weight: bold;
  }

  .fp3 {
    color: grey;
    padding: 0 0 1% 10%;
  }
}

/****************************************** TRANSITION *****************************************/
@media (min-width: 800px) and (max-width: 1100px) {
  /** Footer **/
  footer {
    background-color: #dcdac4;
  }

  .footer_layout {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10%;
  }

  footer ul li {
    list-style-type: none;
  }

  footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
    color: white;
  }

  .fp1 {
    color: grey;
    font-size: 1.1rem;
    font-weight: bold;
  }

  .fp2 {
    font-weight: bold;
  }

  .fp3 {
    color: grey;
    padding: 0 0 1% 10%;
  }
}
