/***************************************** ALTID ******************************************/
/** Header **/
.header {
  position: sticky;
  top: 0;
  transition: all 0.2s ease-in-out;
  background-color: white;
  z-index: 11;
  
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
  list-style: none;
}

.burger_menu {
  padding: 1rem 7.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger_menu_knap {
  background: rgb(255, 255, 255);
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  display: none;
}

.main_menu ul li {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.main_menu.shown ul li {
  padding-top: 1.5rem;
  display: flex;
  flex: 1 1 100%;
  flex-flow: column;
}

.main_menu ul li a {
  text-decoration: none;
}

/** Footer **/
footer {
  background-color: #dcdac4;
}

footer ul li {
  list-style-type: none;
}

footer p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  color: white;
}

.fp1 {
  color: grey;
  font-size: 1.1rem;
  font-weight: bold;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.fp2 {
  font-weight: bold;
}

.fp3 {
  color: grey;
  padding: 1.5rem 0 1.5rem 7.5%;
  border-top: 1px solid black;
  margin-top: 1.5rem;
}

/****************************************** MOBIL *****************************************/
@media (max-width: 500px) {
  /** Header **/
  .list {
    display: none;
  }

  .burger_menu_knap {
    display: block;
  }

  .main_menu {
    display: contents;
  }

  .main_menu ul li {
    display: none;
  }

  /** Footer **/
  .footer_layout {
    display: flex;
  }

  .mobilskjul {
    display: none;
  }

  .webskjul {
    display: none;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 7.5%;
  }
}

/****************************************** TABLET *****************************************/
@media (min-width: 500px) and (max-width: 800px) {
  /** Header **/
  .list {
    display: none;
  }

  .burger_menu_knap {
    display: block;
  }

  .main_menu {
    display: contents;
  }

  .main_menu ul li {
    display: none;
  }

  /** Footer **/
  .footer_layout {
    display: flex;
  }

  .mobilskjul {
    display: none;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 7.5%;
  }
}

/****************************************** WEB *****************************************/
@media (min-width: 800px) {
  /** Header **/
  .burger_menu {
    display: none;
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item {
    font-family: monospace;
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  .link {
    position: relative;
    color: black;
    text-decoration: none;
    padding: 5px 0;
  }

  .link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background: black;
    transition: all 250ms ease-in-out;
  }

  .link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background: black;
    transition: all 250ms ease-in-out;
  }

  .link:hover::before,
  .link:hover::after {
    width: 100%;
    left: 0;
  }

  /** Footer **/
  .footer_layout {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
  }

  .webskjul {
    display: none;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding: 0 7.5%;
  }
}

/****************************************** TRANSITION *****************************************/
@media (min-width: 800px) and (max-width: 1100px) {
  /** Footer **/
  .footer_layout {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 7.5%;
  }
}
